#################################################
###  IDEs  ######################################
#################################################

.idea
.vscode/*
!.vscode/settings.json

#################################################
###  Rust  ######################################
#################################################

debug/
target/
vendor/

Cargo.lock
**/*.rs.bk

#################################################
###  Documentation  #############################
#################################################

documentation/.log
documentation/site
documentation/target
documentation/Cargo.lock
